<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Bank Name: {{item.bank}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Current Balance:{{item.balance}}
      </ion-card-title>
      <ion-card-subtitle>
        Last Transactions Detail
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header *ngFor="let loop of item.transaction; let i = index">
      <ion-card-title>
        Transactions Amount : {{item.transaction[i]}}
      </ion-card-title>
      <ion-card-subtitle>
        Reason: {{item.reason[i]}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-button full (click)="add()">Add More</ion-button>