<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>{{examName}} Exam</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Select Years" (ionChange)="selectedYear($event)" >
        <ion-select-option *ngFor="let year of examYears" value={{year}}>{{year}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>

  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [original-size]="false"
  style="width: 400px; height: 500px"
></pdf-viewer>

</ion-content>
