<ion-header>
  <ion-toolbar>
    <ion-title>
      Account Recorder
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card (click)="detail(item)" [routerLink]="['acc-detail']" *ngFor="let item of name">
    <ion-card-header>
      <ion-card-title>Account Name:{{item.bank}}</ion-card-title>
      <ion-card-title>Balance: {{item.balance}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['add-account']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>